#header{
    background-color: #8739F9;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 0px 20px;
    
}
h1{
    margin: 0;
    font-size: 4rem;
    display: inline;
    width: 80vw;

}

#cart{
    height: 70px;
    width: 70px;
}